/* Sets box-sizing to border-box to keep consistent box sizes */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Style the html element */
html{
    font-size: 16px;
    width: 100%;
    line-height: 200%;
}

        /* BEGINNING OF HOME PAGE CSS STYLING */
        #slideshow{
            width: 100%;
            height: 100vh;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            backface-visibility: hidden;
            animation: slideshow 15s linear infinite 0s;
            animation-timing-function: ease-in-out;
            background-image: url("../andromeda_galaxy.jpg");
        }
        @keyframes slideshow  {
            0%{
                background-image: url("../andromeda_galaxy.jpg")
            }
            25%{
                background-image: url("../my_astro_photos/Pleiades\ and\ California\ Neb\ Final-min.jpg");
            }
            50%{
                background-image: url("../my_astro_photos/summer\ triangle-min.png");
            }
            75%{
                background-image: url("../my_astro_photos/milky\ way.png");
            }
            100%{
                background-image: url("../my_astro_photos/IMG_2877-min.png");
            }
        }
        #slideshow .welcome{
            color: white;
            text-align: center;
            font-family: 'Aclonica', sans-serif;
            margin: 10% 10%;
        }
        /* Styles the title bar across all pages */
        h1.title{
            margin-left: 30px;
            font-family: 'Oswald', sans-serif;
            font-size: 2.5rem;
            font-variant: all-small-caps;
            color: gray;
            opacity: 0.85;
            padding-top: 35px;
            letter-spacing: 0.4em;
            display: flex;
            justify-content: center;
            text-shadow: -3px -3px #FFF01F;
        }
        /* Styles the navigation bar across all pages */
        .navigationLinks{
            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        /* Styles the hover box for navigation links */
        .navigationLinks a:hover{
            background: rgb(4, 9, 32);
            box-shadow: 0 5px 0 darkblue;
        }
        /* When clicking the link, the box shadow disappears */
        .navigationLinks a:active{
            box-shadow: none;
        }
        /* Styles the links inside the navigation bar across all pages */
        .navigationLinks a{
            color: white;
            padding: 30px;
            margin: 2%;
            font-size: 1.2rem;
            opacity: 0.85;
            font-family: 'Quattrocento Sans', sans-serif;
            font-variant: all-small-caps;
            text-decoration: none;
            border-radius: 10px;
        }
        /* Styles the main contents of the homePage */
        #homePageContent a, h2{
            display: flex;
            justify-content: center;
        }
        /* Styles the child h2 elements of the homePageContent */
        #homePageContent h2{
            font-family: 'Quattrocento Sans', sans-serif;
            font-size: 2rem;
            color: white;
            opacity: 0.85;
            margin-top: 3%;
            text-align: center;
        }
        /* Creates a button around the liftoff! link when the user hovers over */
        #homePageContent a:hover{
            background: rgb(4, 9, 32);
            box-shadow: 0 5px 0 darkblue;
        }
        /* When clicking the link, the box shadow disappears for the Liftoff button */
        #homePageContent a:active{
            box-shadow: none;
        }
        /* Styles the Liftoff! link */
        #homePageContent a{
            font-family: 'Quattrocentro Sans', sans-serif;
            font-size: 2.5rem;
            color: white;
            padding: 20px;
            margin-top: 50px;
            border-radius: 10px;
            opacity: 0.75;
            text-decoration: none;
            width: 25%;
            position: relative;
            left: 37%;
        }
        /* END OF HOME PAGE CSS STYLING */


/* BEGINNING OF INTERACTIVE PAGE CSS STYLING */
/* BEGINNING OF INTRODUCTION SECTION */
#interactivePageBody{
    background-color: black;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
/* Styles the top portion of the Interactive page, i.e. the header */
#interactivePageHeader{
    background-image: 
    url("https://wallpaperaccess.com/full/227920.jpg");
    background-size: cover;
}
/* Styles the introduction section */
.introduction{
    color: white;
    text-align: center;
    border: 2px solid white;
    margin: 0;
    background-color: rgb(37, 11, 11);
    opacity: 0.85;
    flex: 1 1 50%;
    overflow: hidden;
}
/* Code for any image that needs to be centered */
.centeredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/* The "Introduction to Astronomy" header */
.introduction h2{
    border-bottom: 2px solid white;
    font-size: 2rem;
    font-family: sans-serif;
    padding: 10px 0;
}
/* Paragraphs within the introduction section */
.introduction p{
    font-size: 1.25rem;
    font-family: 'Lucida Sans', sans-serif;
    margin: 1% 15%;
    text-align: start;
}
/* The unordered list containing the two types of astronomers */
.introduction ul{
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 15px auto;
    width: 90%;
}
/* Styles the YouTube video */
.introduction iframe{
    margin: 1% 15%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
/* END OF INTRODUCTION SECTION */


        /* BEGINNING OF DIFF KINDS OF ASTRONOMY STUDIES */
        /* Styles the astronomy types section */
        .astronomyStudies{
            color: white;
            border: 2px solid white;
            margin: 0;
            background-color: rgb(4, 9, 32);
            opacity: 0.85;
            flex: 1 1 50%;
            overflow: hidden;
        }
        /* Styles the contents of the astronomy studies section */
        .astronomyStudies h2{
            border-bottom: 2px solid white;
            font-family: sans-serif;
            font-size: 2rem;
            padding: 10px 0;
            text-align: center;
        }
        /* The header of the astronomy subtypes section */
        .astronomyStudies h3{
            font-size: 1.5rem;
            font-family: 'Lucida Sans', sans-serif;
            margin-top: 30px;
            text-align: center;
        }
        /* The entire bulleted list of astronomy subtypes as a whole */
        .astronomyStudies ul{
            font-size: 1.25rem;
            font-family: 'Lucida Sans', sans-serif;
            margin: 1% 15%;
            float: right;
        }
        /* Each bulleted item that describes the type of astronomy subtype*/
        .astronomyStudies li{
            margin: 25px 50px 25px;
        }
        /* Styles the solar system picture */
        .astronomyStudies figure {
            text-align: center;
        }
        /* END OF ASTRONOMY TYPES SECTION */


/* BEGINNING OF ASTRONOMY TOOLS SECTION */
.astronomyTools{
    color: white;
    border: 2px solid white;
    font-family: sans-serif;
    flex-wrap: wrap;
    text-align: center;
}
.astronomyTools h2{
    font-size: 2rem;
    padding: 10px 0;
    border-bottom: 2px solid white;
    width: 100%;
}
.astronomyTools p{
    font-size: 1.25rem;
    text-align: start;
    margin: 1% 15%;
}
.inline-pic {
    display: inline-block;
}
.astronomyTools h1 {
    padding: 5px;
    margin: 5px;
}
.astronomyTools ul {
    margin: 1% 15%;
    font-size: 1.25rem;
    text-align: start;
}
.astronomyTools li{
    margin: 0.33% 13%;
}
.astronomyTools .refractor{
    width: 425px;
    height: auto;
}
.astronomyTools .reflector{
    width: 425px;
    height: auto;
}
.astronomyTools .compound{
    width: 425px;
    height: auto;
}
/* END OF ASTRONOMY TOOLS SECTION */

        /* BEGINNING OF GALLERY PAGE STYLING */
        #galleryBody{
            color: lightgray;
            background-color: #313536;
            margin-top: 1%;
            font-family: sans-serif;
            text-align: center;
        }
        .galleryIntro p{
            margin: 1% 20%;
            text-align: start;
            font-size: 1.25rem;
        }
        .photos .sun{
            margin-top: 5%;
        }
        .sun img{
            width: 350px;
            height: auto;
        }
        .photos .venus{
            margin-top: 5%;
            margin-right: 25%;
        }
        .venus img{
            width: 500px;
            height: auto;
        }
        .photos .moon{
            margin-left: 25%;
            margin-top: 5%;
        }
        .moon img{
            width: 350px;
            height: auto;
        }
        .moon figcaption{
            margin-right: 8%;
        }
        .photos .lunar_eclipse{
            margin-top: 5%;
        }
        .lunar_eclipse img{
            width: 500px;
            height: auto;
        }
        .photos .mars{
            margin-top: 5%;
            margin-right: 35%;
        }
        .mars img{
            width: 350px;
            height: auto;
        }
        .mars figcaption{
            margin-left: 2%;
        }
        .photos .jupiter{
            margin-top: 5%;
            margin-right: 45%;
        }
        .jupiter img{
            width: 350px;
            height: auto;
        }
        .photos .jupiters_moons{
            margin-top: 5%;
            margin-right: 25%;
        }
        .jupiters_moons img{
            width: 350px;;
            height: auto;
        }
        .photos .saturn{
            margin-top: 5%;
        }
        .saturn img{
            width: 350px;
            height: auto;
        }
        .photos .neowise{
            margin-top: 5%;
            margin-left: 35%;
        }
        .neowise img{
            width: 500px;
            height: auto;
        }
        .photos .milkyway{
            margin-top: 5%;
            margin-left: 45%;
        }
        .milkyway img{
            height: 550px;
            width: auto;
        }
        .photos .milkyway_close{
            margin-top: 3%;
        }
        .milkyway_close img{
            height: 500px;
            width: auto;
        }
        .photos .summer_triangle{
            margin-top: 3%;
            margin-right: 45%;
        }
        .summer_triangle img{
            width: 600px;
            height: auto;
        }
        .photos .bodes{
            margin-top: 3%;
            margin-right: 20%;
        }
        .bodes img{
            width: 500px;
            height: auto;
        }
        .photos .leo_triplet{
            margin-top: 3%;
            margin-left: 20%;
        }
        .leo_triplet img{
            width: 600px;
            height: auto;
        }
        .photos .trifid{
            margin-top: 3%;
            margin-left: 45%;
        }
        .trifid img{
            width: 500px;
            height: auto;
        }
        .photos .orion{
            margin-top: 3%;
        }
        .orion img{
            width: 600px;
            height: auto;
        }
        .photos .pleiades{
            margin-top: 3%;
        }
        .pleiades img{
            width: 750px;
            height: auto;
        }
        .conclusion{
            font-size: 1.25rem;
            padding: 0% 10%;
            margin-top: 2%;
            padding-bottom: 8%;
        }
        /* END OF GALLERY PAGE STYLING*/

/* BEGINNING OF ASTROPHOTOGRAPHY SECTION STYLING */
.astrophotography{
    background-color: #313536;
}
.astrophotography h2{
    border-top: 2px solid white;
}
.astrophotography h3{
    font-size: 1.5rem;
}
.astrophotography .mw_side_photo{
    height: 450px;
    width: auto;
    float: left;
    margin-left: 15%;
    margin-right: 15px;
}
.astrophotography .sphere_diagram{
    width: 500px;
    height: auto;
    float: left;
    margin-left: 15%;
    margin-right: 15px;
}
.noise img{
    width: 850px;
    height: auto;
}
.light_pollution img{
    width: 850px;
    height: auto;
}
.bluemont img{
    width: 850px;
    height: auto;
}
/* END OF ASTROPHOTOGRAPHY SECTION STYLING */

        /* BEGINNING OF ABOUT ME PAGE STYLING */
        #aboutme{
            background-color: #E1C699;
        }
        #aboutme .title{
            color: white;
            text-shadow: -3px -3px rgb(126, 66, 27);
        }
        #aboutme a:hover{
            background: rgb(54, 32, 4);
            box-shadow: 0 5px 0 rgb(12, 8, 1);
        }
        #aboutme a{
            color: rgb(87, 64, 45);
        }
        #aboutme h1{
            color: rgb(70, 51, 36);
            margin-left: 5%;
        }
        #aboutme p{
            color: rgb(70, 51, 36);
            margin-left: 5%;
            margin-right: 10%;
        }
        #aboutme .imgofme{
            margin-top: 2%;
            text-align: center;
        }
        #aboutme .me{
            width: 500px;
            height: auto;
        }
        #aboutme .socials{
            text-align: center;
        }
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
          }
        
